.colorItem{
    height: 60px;
    width: 60px;
    background: black;
    border-radius: 16px;
    /*border: 4px red;*/
    /*border: 4px solid #e34761;*/
}
.mapTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    /* font-size: 12px; */
    font-size: 26px;
    color: #282c34;
    /* width: 190px; */
    width: 277px;
}
.mapPrice{
    color: #2C3C48;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;

}
.container {
    max-width: 1120px;
    margin: 0 auto;
    /* border: 2px solid; */
}
.pises{
    display: flex;
    padding-bottom: 30px;
    justify-content: space-between;
}
.prisesType{
    padding-top: 20px;
}
.re{
    display: flex;
    align-items: center;

}
.re span{
    padding-right: 10px;
}